@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

body, html{
    height: 100%;
}

.top-banner{
    height: 100%;
    background-image: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20em;
}

.top-banner h1{
    font-size: 65px;
}

.top-banner p{
    font-size: 15px;
}

.tag{
    color: blue;
}

.atributo{
    color: #33A2FF;
}

.valor-atributo{
    color: #FFAE00;
}

.buzz{
    visibility: hidden;
    position: fixed;
    right: -100px;
    z-index: 100;
    bottom: -135px;
    transform: rotate(-25deg);
}




/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}